<div class=" col-3  " id="update-movie-info">

    <div class="card position-relative" style="width: 18rem">
        <img src={{movie.img}} class="card-img-top" alt="poster">

        <div class="episode">
            Tập 1
        </div>

    </div>
    <button class="btn btn-danger">Xem phim</button>
    <div class="rating ">Đánh giá: {{movie.rating}}/10 ({{movie.ratingCount}} lượt)</div>
    <div class="favCount">Lượt yêu thích: {{movie.favCount}} lượt</div>
</div>
<div class="update-movie-form col-9">
    <div class="title">Tên phim : {{movie.title}} </div>
    <div class="form-update">
        <form action="/updateMovie/{{page}}/{{movie.id}}" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Tên phim: </label>
                <input type="text" class="form-control" id="title" name="title" value="{{movie.title}}" required>
                <label for="genres" class="form-label">Thể loại: </label>
                <input type="text" class="form-control" id="genres" name="genres" value="{{movie.genres}}" required>
                <label for="country" class="form-label">Quốc gia: </label>
                <input type="text" class="form-control" id="country" name="country" value="{{movie.country}}" required>
                <label for="cast" class="form-label">Diễn viên: </label>
                <input type="text" class="form-control" id="cast" name="cast" value="{{movie.cast}}" required>
                <label for="director" class="form-label">Đạo diễn: </label>
                <input type="text" class="form-control" id="director" name="director" value="{{movie.director}}" required>
                <label for="year" class="form-label">Năm sản xuất: </label>
                <input type="number" max="2024" min="1900" class="form-control" id="year" name="year" value="{{movie.year}}" required>
                <label for="synopsis" class="form-label">Nội dung: </label>
                <input type="text" class="form-control" id="synopsis" name="synopsis" value="{{movie.synopsis}}" required>

                <label for="img" class="form-label">Hình ảnh:</label>
                <input type="text" class="form-control" id="img" name="img" value="{{movie.img}}" required>
                <label for="source" class="form-label">Video: </label>
                <input type="text" class="form-control" id="source" name="source" value="{{movie.source}}" required>
            </div>
            <button type="submit">Lưu</button>

        </form>
    </div>

</div>
<script>
    var info = `{{ notification }}`;
    if (info) {
        alert(info);
    }

</script>