<div class="homepage">
    <nav class="navbar mx-auto ">

        <div class="navbar-nav d-flex flex-row justify-content-center align-items-center">
            <a class="nav-link" href="/list" style="text-decoration: none;">Phim lẻ</a>
            
            <div class="dropdown nav-link ">
                <h5 class="dropdown-toggle" data-bs-toggle="dropdown">
                    Thể loại
                </h5>
                <ul class="dropdown-menu" style="position: absolute; z-index: 2;">
                    
                    {{#each genres}}
                    <li><a class="dropdown-item" href="/genre?genre={{this.genres}}&page=1" >{{this.genres}}</a></li>

                    {{/each}}
                </ul>
            </div>
            
            <div class=" dropdown nav-link ">
                <h5 class="dropdown-toggle" data-bs-toggle="dropdown" >
                    Quốc gia
                </h5>
                <ul class="dropdown-menu" style="position: absolute; z-index: 2;">
                    
                    {{#each country}}
                    <li><a class="dropdown-item" href="/country?country={{this.country}}&page=1">{{this.country}}</a></li>

                    {{/each}}
                </ul>
            </div>
        </div>


    </nav>

    <div class="d-flex">

        <div class="list-movies col-9" id="list">
            <div class="list-name"><a href="/newMovie" style="text-decoration: none; text-transform: uppercase;">Phim
                    mới</a>
            </div>
            <div class="list-newMovie mb-5">
                <div class="d-flex flex-row justify-content-around">
                        {{#each firstNew}}
                        <div onclick="window.location.href='/detail/{{this.id}}'">
                            <div class="card position-relative " style="width: 18rem;" id="{{this.id}}" onclick="select({{this.id}})">
                                <img src="{{this.img}}" class="card-img-top" style="height: 27rem;" alt="{{this.id}}">
                                <h5 class="">{{this.title}}</h5>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="d-flex flex-row justify-content-around">
                        {{#each secondNew}}
                        <div onclick="window.location.href='/detail/{{this.id}}'">
                            <div class="card position-relative " style="width: 18rem" id="{{this.id}}" onclick="select({{this.id}})">
                                <img src="{{this.img}}" class="card-img-top" style="height: 27rem;" alt="{{this.id}}">
                                <h5 class="">{{this.title}}</h5>
                            </div>
                        </div>
                        {{/each}}
                    </div>
            </div>
            <div class="list-name"><a href="/topRating" style="text-decoration: none; text-transform: uppercase;">Top
                    rating</a></div>

            <div class="list-topRating mb-3">
                
                    <div class="d-flex flex-row justify-content-around">
                        {{#each firstRow}}
                        <div onclick="window.location.href='/detail/{{this.id}}'">
                            <div class="card position-relative " style="width: 18rem" id="{{this.id}}" onclick="select({{this.id}})">
                                <img src="{{this.img}}" class="card-img-top" style="height: 27rem;" alt="{{this.id}}">
                                <h5 class="">{{this.title}}</h5>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="d-flex flex-row justify-content-around">
                        {{#each secondRow}}
                        <div onclick="window.location.href='/detail/{{this.id}}'">
                            <div class="card position-relative " style="width: 18rem" id="{{this.id}}" onclick="select({{this.id}})">
                                <img src="{{this.img}}" class="card-img-top" style="height: 27rem;" alt="{{this.id}}">
                                <h5 class="">{{this.title}}</h5>
                            </div>           
                        </div>
                        {{/each}}
                    </div>
                
            </div>
        </div>
        <div class="bxh col-3" style="background-color:#D9D9D9;">
            <div class="fs-1 m-3" style="color: red;">Bảng xếp hạng</div>
            {{#each favMovie }}
            <div class="bxh-list m-3 d-flex " onclick="window.location.href='/detail/{{this.id}}'">
                <h4 class="m-3" style="padding-top: 50px "  >
                   {{this.stt}}
                    
                </h4>
                <img src="{{this.img}}" alt="{{this.id}}"
                    style="width: 10rem">
                <h5 class="m-3">{{this.title}}</h5>
                <div class="m-3" style="padding-top: 90px; color:red;">❤{{this.favCount}}</div>
            </div>
            {{/each}}
            
            
            

        </div>
    </div>
</div>

<style>
    .homepage {
        padding: 0px 20px;
    }

    .nav-link {
        padding: 0px 20px;

        color: #fff;
    }

    .navbar {
        width: 40%;
        background-color: #3E63E8;
    }

    .card {
        margin: 10px;
    }

    .list-name {
        color: #3E63E8;
        font-size: 2em;
        margin: 3px;

    }
</style>
