<div class="homepage">
    <nav class="navbar mx-auto ">

        <div class="navbar-nav d-flex flex-row justify-content-center align-items-center">
            <a class="nav-link" href="/list" style="text-decoration: none;">Phim lẻ</a>
                
            <div class="dropdown nav-link ">
                <h5 class="dropdown-toggle" data-bs-toggle="dropdown">
                    Thể loại
                </h5>
                <ul class="dropdown-menu" style="position: absolute; z-index: 2;">
                    
                    {{#each genres}}
                    <li><a class="dropdown-item" href="/genre?genre={{this.genres}}&page=1">{{this.genres}}</a></li>

                    {{/each}}
                </ul>
            </div>
            
            <div class=" dropdown nav-link ">
                <h5 class="dropdown-toggle" data-bs-toggle="dropdown" >
                    Quốc gia
                </h5>
                <ul class="dropdown-menu" style="position: absolute; z-index: 2;">
                    
                    {{#each country}}
                    <li><a class="dropdown-item" href="/country?country={{this.country}}&page=1">{{this.country}}</a></li>

                    {{/each}}
                </ul>
            </div>
        </div>
        
    </nav>

    <div class="d-flex">
        <div class="col-9">            
            <div class="wrapper d-flex rounded">
                <div class="movie-poster">
                    <img src={{movie.img}}  alt=""  style="height: 45rem;">
                </div>
                <div class="movie-info d-flex flex-column">
                    <h1 class="display-3">{{movie.title}}</h1>
                    <h4>Đạo diễn: {{movie.director}}</h4>
                    <h4>Diễn viên: {{movie.cast}}</h4>
                    <h4>Thể loại: {{movie.genres}}</h4>
                    <h4>Quốc gia: {{movie.country}}</h4>
                    <h4>Năm sản xuất: {{movie.year}}</h4>
                    <h4>Rating: {{movie.rating}}/10 ({{movie.ratingCount}} lượt)</h4>
                    {{#if loggedIn}}
                    <div class="ratingStar">
                        <form action="/rating/{{movie.id}}" method="post">
                            <input type="hidden" value="0" name="ratingPoint" id="ratingPoint">
                            <input type="image" src="" id="star-1" onmouseover="colorChange(1)" onclick="Rating(1)" onmouseout="resetColor()"
                                type="submit" value="1" />
                            <input type="image" src="" id="star-2" onmouseover="colorChange(2)" onclick="Rating(2)" onmouseout="resetColor()"
                                type="submit" value="2" />
                            <input type="image" src="" id="star-3" onmouseover="colorChange(3)" onclick="Rating(3)" onmouseout="resetColor()"
                                type="submit" value="3" />
                            <input type="image" src="" id="star-4" onmouseover="colorChange(4)" onclick="Rating(4)" onmouseout="resetColor()"
                                type="submit" value="4" />
                            <input type="image" src="" id="star-5" onmouseover="colorChange(5)" onclick="Rating(5)" onmouseout="resetColor()"
                                type="submit" value="5" />
                            <input type="image" src="" id="star-6" onmouseover="colorChange(6)" onclick="Rating(6)" onmouseout="resetColor()"
                                type="submit" value="6" />
                            <input type="image" src="" id="star-7" onmouseover="colorChange(7)" onclick="Rating(7)" onmouseout="resetColor()"
                                type="submit" value="7" />
                            <input type="image" src="" id="star-8" onmouseover="colorChange(8)" onclick="Rating(8)" onmouseout="resetColor()"
                                type="submit" value="8" />
                            <input type="image" src="" id="star-9" onmouseover="colorChange(9)" onclick="Rating(9)" onmouseout="resetColor()"
                                type="submit" value="9" />
                            <input type="image" src="" id="star-10" onmouseover="colorChange(10)" onclick="Rating(10)" onmouseout="resetColor()"
                                type="submit" value="10" />
                        </form>
                    </div>
                    {{/if}}
                    <h4>Số lượt yêu thích: {{movie.favCount}}</h4>
                    {{#if loggedIn}}
                    {{#if isFav}}
                    <form action="/deleteFromFavMovie/{{movie.id}}" method="post">
                        <button class="delFavBtn" type="submit">
                            Xóa khỏi danh sách yêu thích
                        </button>
                    </form>
                    {{else}}
                    <form action="/addToFavMovie/{{movie.id}}" method="post">
                        <button class="favBtn" type="submit">
                            Thêm vào danh sách yêu thích
                        </button>
                    </form>
                    {{/if}}
                    {{/if}}
                </div>                
            </div>
            <button class="xemBtn" onclick="window.location.href='/streaming/{{movie.id}}'">
                Xem phim
            </button>
            <div class="movieSynopsis">
                <h3 class="noidungphim">Nội dung phim</h3>
                <div class="synopsis">
                    <p>
                        {{movie.synopsis}}
                    </p>
                </div>
            </div>   
            
            <div class="commentSession">
                {{#if loggedIn}}
                <div class="user-comment">
                    <form action="/detail/{{movie.id}}" method="post" class="d-flex align-items-center justify-content-between">
                        <div class="avt d-flex flex-column align-items-center" style="flex-basis: 15%;">
                            <img src='/img/User_cicrle_duotone.svg' alt="" width="50%">
                            <div class="text-center">
                                <h5>{{curUser}}</h5>
                            </div>
            
                        </div>
                        <div class="form-group px-4" style="flex-basis: 75%;">
                            <label for="inputlg">Để lại bình luận</label>
                            <input class="form-control input-lg " id="inputlg" name="curUserComment" type="text"
                                placeholder="Nhập bình luận ở đây">
                        </div>
                        <button type="submit" class="btn btn-primary" style="flex-basis: 10%; height: 100%">Đăng</button>
                    </form>
                </div>
                {{/if}}
                <div class="comment-display">
                    {{#each comment}}
                    <div class="d-flex align-items-center justify-content-between comment">
                        <div class="avt d-flex flex-column align-items-center" style="flex-basis: 15%;">
                            <img src='/img/User_cicrle_duotone.svg' alt="" width="50%">
                            <div class="text-center">
                                <h5>{{author}}</h5>
                            </div>
                        </div>
                        <div class="px-4" style="flex-basis: 85%;">
                            <p>
                                {{content}}
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            
            </div>
            
        </div>
        <div class="bxh col-3" style="background-color:#D9D9D9;">
            <div class="fs-1 m-3" style="color: red;">Bảng xếp hạng</div>
            {{#each favMovie}}
            <div class="bxh-list m-3 d-flex" onclick="window.location.href='/detail/{{this.id}}'">
                <h4 class="m-3" style="padding-top: 50px ">{{this.stt}}</h4>
                <img src="{{this.img}}" alt="{{this.id}}"
                    style="width: 10rem">
                <h5 class="m-3">{{this.title}}</h5>
                <div class="m-3" style="padding-top: 90px; color:red;">❤{{this.favCount}}</div>
            </div>
            {{/each}}

        </div>
    </div>
</div>

<style>
    .homepage {
        padding: 0px 20px;
    }

    .nav-link {
        padding: 0px 20px;

        color: #fff;
    }

    .navbar {
        width: 40%;
        background-color: #3E63E8;
    }

    .episode {
        background-color: #D12D2D;
        color: #fff;
        position: absolute;
        width: 60px;
        border-radius: 3px;
        padding: 2px 0px 2px 4px;
        top: 5px;
        left: 10px;
    }

    .list-name {
        color: #3E63E8;
        font-size: 2em;
        margin: 3px;

    }
    .filter-search-movie{
        background: #D9D9D9;
        border-radius: 3px;
        width: 60%;
        margin: auto;
        padding: 10px 20px;
    }
    .filter-search-movie > button {
        background-color: #EEE744;
        border: none;
        padding: 5px;
    }
    
    .wrapper {
        margin-right: 30px;
        background-color: #D9D9D9;
        margin-bottom: 20px;
    }
    
    .movie-poster{
        flex-basis: 40%;
    }
    
    .movie-info{
        flex-basis: 60%;
    }

    .movie-poster img {
        max-width: 100%;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    a:link {
        text-decoration: none;
    }
    
    .favBtn{
        border-radius: 10px;
        max-width: 220px;
        min-height: 40px;
        background-color: #FF005C;
        color: #fff;
        border: none;
        margin-bottom: 20px;
    }
    
    .delFavBtn{
        border-radius: 10px;
        max-width: 220px;
        min-height: 40px;
        background-color: #3E63E8;
        color: #fff;
        border: none;
        margin-bottom: 20px;
    }
    
    .xemBtn{
        border-radius: 10px;
        background-color: #FAFF17;
        min-height: 50px;
        color: black;
        border: none;
        font-size: 20px;
        margin-left: 100px;
    }
    
    .noidungphim{
        font-weight: bold;
        text-shadow: 1px 1px 2px gray;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .movieSynopsis{
        margin-bottom: 50px;
        margin-right: 30px;
        text-align:justify;
    }
    
    .commentSession {
        width: 95%;
        border: 2px dotted black;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 20px;
    }
    
    .comment-display{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }
    
    .user-comment{
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1.5px solid black;
    }
    
    .avt{
        padding-right: 10px;
    }
    
    .comment{
        margin-bottom: 20px;
        text-align:justify;
        border: 1px dotted black;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 10px;
    }
</style>

<script>
    var rating=`{{rating}}`;
    if(rating || rating==0){
       initColor(rating);
    }
    
    function initColor(rating){
         for (var i = 1; i <= parseInt(rating); i++) {
            var id = `star-${i}`;
            const star = document.getElementById(id);
            star.src = '/img/material-symbols_star.svg';
        }
        for (var i = parseInt(rating) + 1; i < 11; i++) {
            var id = `star-${i}`;
            const star = document.getElementById(id);
            star.src = '/img/material-symbols_star_black.svg';
        }
    }
    
    function colorChange(starId){
        for(var i=1;i<=parseInt(starId);i++){
            var id = `star-${i}`;
            const star=document.getElementById(id);
            star.src='/img/material-symbols_star.svg';
        }
    }
    
    function resetColor(){
        initColor(rating);
    }
    
    function Rating(starId){
        document.getElementById("ratingPoint").value = starId;
        rating=starId;
        initColor(rating);
    }
    
</script>

